<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title><%= list.name %> - Once Upon a Wishlist</title>
</head>
<body>
    <%- include('partials/account') %>
    <%- include('partials/navbar') %>
    <%- include('partials/newGift') %>
    <%- include('partials/editGift') %>
    <div class="page-container">
        <div class="main-container">
            <header>
                <h1 class="page"><%= list.name %><% if(list.description != null) { %><br /><div class="header-description"><%= list.description %></div><% } %></h1>
                <button onclick="document.getElementById('new-gift').classList.add('showing');" class="small" style="margin-top: 12px;">+ Add Gift</button>
            </header>
            
            <% if(Object.keys(gifts).length > 0) { %>
                <% Object.keys(gifts).forEach(key => { %>
                    <div class="creator-list-item-container">
                        <div class="creator-list-picture-container">
                            <% if(gifts[key].picture != null) { %><img id="picture-<%= gifts[key].id %>" src="<%= gifts[key].picture %>"><% } 
                                else { %><img id="picture-<%= gifts[key].id %>" src="/no-picture.png"><% } %>
                        </div>
                        <div class="creator-list-details">
                            <div class="name" id="title-<%= gifts[key].id %>"><%= gifts[key].title %></div>
                            <div class="description">
                                <% if(gifts[key].size != null) { %><div id="size-<%= gifts[key].id %>"><b>Size:</b> <%= gifts[key].size %></div>
                                    <% } else { %><div id="size-<%= gifts[key].id %>"><b>Size:</b> (none)</div><% } %>
                                <% if(gifts[key].color != null) { %><div id="color-<%= gifts[key].id %>"><b>Color:</b> <%= gifts[key].color %></div>
                                    <% } else { %><div id="color-<%= gifts[key].id %>"><b>Color:</b> (none)</div><% } %>
                                <% if(gifts[key].details != null) { %><div id="details-<%= gifts[key].id %>"><b>Details:</b> <%= gifts[key].details %></div>
                                    <% } else { %><div id="details-<%= gifts[key].id %>"><b>Details:</b> (none)</div><% } %>
                            </div>
                            <div class="creator-list-price-link">
                                <% if(gifts[key].price != null) { %><div id="price-<%= gifts[key].id %>"><b>Price:</b> $<%= parseFloat(gifts[key].price).toFixed(2) %></div>
                                    <% } else { %><div style="height: 25px;" id="price-<%= gifts[key].id %>"><b>Price:</b> (none)</div><% } %>
                                <% if(gifts[key].link != null) { %><a href="<%= gifts[key].link %>" target="_blank" id="link-<%= gifts[key].id %>"><b>Item Link</b></a>
                                    <% } else { %><div id="link-<%= gifts[key].id %>"><b>Link:</b> (none)</div><% } %>
                                <div class="edit" onclick="editGift('<%= list.id %>', '<%= gifts[key].id %>')">
                                    <div class="material-symbols-outlined">edit</div><b>&nbsp;&nbsp;EDIT</b>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) } else { %>
                <h1 style="padding-top: 24px; color: var(--text-hover);">- No Gifts -</h1>
            <% } %>

        </div>
    </div>
</body>
</html>