<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Gift List App</title>
</head>
<body>
    <%- include('partials/account') %>
    <%- include('partials/navbar') %>
    <h1>Hi <%= user.name %>!</h1>
    <div class="page-container">
        <div class="main-container left">
            <header>
                <h1 class="page">My Lists</h1>
                <button onclick="window.location.href = '/dashboard/newlist';" class="small" style="margin-top: 12px;">+ New List</button>
            </header>
            
            <% if(Object.keys(myLists).length > 0) { %>
                <% Object.keys(myLists).forEach(function(key) { %>
                    <div class="list-item dashboard">
                        <div class="image-container dashboard" tabindex="0" onclick="window.location.href = '/dashboard/list/<%= key %>';">
                            <% for (var i = 0; i < 4; i++) { %>
                                <% if (myLists[key].pictures[i]) { %>
                                    <img class="small" src="<%= myLists[key].pictures[i] %>">
                                <% } else { %>
                                    <img class="small" src="/no-picture-small.jpg">
                                <% } %>
                            <% } %>
                        </div>
                        <div class="dashboard-name"><%= myLists[key].name %></div>
                        <% if(myLists[key].description != null) { %> <div class="dashboard-description"><%= myLists[key].description %></div> <% } %>
                    </div>
                <% }) %>
            <% }  else  { %>
                - No lists -
            <% } %> 
        </div>
        <div class="main-container left">
            <header>
                <h1 class="page">Saved Lists</h1>
            </header>
            
            <% if(Object.keys(favoriteLists).length > 0) { %>
                <% Object.keys(favoriteLists).forEach(function(key) { %>
                    <div class="list-item dashboard" tabindex="0" onclick="window.location.href = '/list/<%= key %>';">
                        <div class="image-container">
                            <% if (favoriteLists[key].picture != null) { %>
                                <img src="<%= favoriteLists[key].picture %>">
                            <% } else { %>
                                <img src="/no-user-icon.png">
                            <% } %>
                        </div>
                        <div class="dashboard-name"><%= favoriteLists[key].name %></div>
                        <% if(favoriteLists[key].description != null) { %> <div class="dashboard-description"><%= favoriteLists[key].description %></div> <% } %>
                    </div>
                <% }) %>
            <% }  else  { %>
                - No lists -
            <% } %> 
        </div>
    </div>

    
    <h2>Favorited Lists</h2>
        <% if(Object.keys(favoriteLists).length > 0) { %>
            <% Object.keys(favoriteLists).forEach(function(key) { %>
                <a href="/list/<%= favoriteLists[key].id%>"><%= favoriteLists[key].name %></a><br />
            <% }) %>
        <% }  else  { %>
            - No lists -
        <% } %><br />
    <form action="/dashboard" method="post">
        <div>
            <label for="list">Go to a list</label>
            <input type="text" id="list" name="list" required>
        </div>
        <button type="submit">GO!</button>
    </form>
</body>
</html>