<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/app.css">
    <title>Once Upon a Wishlist</title>
</head>
<body>
    <%- include('partials/account') %>
    <%- include('partials/navbar') %>
    <%- include('partials/editList') %>
    <%- include('partials/newList') %>
    <div class="page-container">
        <% if(user.picture == null || user.picture =='') { %>
            <div id="picture-alert">You don't have a picture set for your user profile.
                <span class="picture-click" tabindex="0" onclick="document.getElementById('account').classList.add('showing');
                    document.getElementById('picture-alert').style.display = 'none';">Set Up Now</span>
            </div>
        <% } %>
        <div class="main-container">
            <header>
                <h1>My Lists</h1>
            </header>
            
            <% if(Object.keys(myLists).length > 0) { %>
                <% Object.keys(myLists).forEach(function(key) { %>
                    <div class="list-item dashboard">
                        <div class="image-container dashboard" tabindex="0" onclick="window.location.href = '/dashboard/list/<%= key %>';">
                            <% for (var i = 0; i < 4; i++) { %>
                                <% if (myLists[key].pictures[i]) { %>
                                    <img class="small" src="<%= myLists[key].pictures[i] %>">
                                <% } else { %>
                                    <img class="small" src="/no-picture-small.jpg">
                                <% } %>
                            <% } %>
                        </div>
                        <div class="dashboard-name" id="dashboard-name-<%= key %>"><%= myLists[key].name %></div>
                        <div class="dashboard-hidden" id="dashboard-description-<%= key %>"><%= myLists[key].description %></div>
                        <div class="dashboard-edit-delete">
                            <div style="color: var(--main);" tabindex="0" onclick="editList(`<%= key %>`);">Edit Name</div>
                            <form id="delete-list-<%= key %>" action="/dashboard/list/<%= key %>/deletelist?_method=DELETE" method="POST">
                                <div style="color: darkred;" tabindex="0" onclick="deleteList(`<%= key %>`);">Delete</div>
                            </form>
                        </div>
                    </div>
                <% }) %>
            <% } %>
            <div class="list-item dashboard" id="create-list-container" tabindex="0" onclick="document.getElementById('new-list').classList.add('showing');">
                <div class="image-container">
                    <img src="/create-list.png">
                </div>
            </div>
        </div>
        <div class="main-container">
            <header>
                <h1>Saved Lists</h1>
            </header>
            
            <% if(Object.keys(favoriteLists).length > 0) { %>
                <% Object.keys(favoriteLists).forEach(function(key) { %>
                    <div class="list-item hov" tabindex="0" onclick="window.location.href = '/list/<%= key %>';">
                        <div class="image-container" style="border-radius: 50%;">
                            <% if (favoriteLists[key].picture != null) { %>
                                <img src="<%= favoriteLists[key].picture %>">
                            <% } else { %>
                                <img src="/no-user-icon.png">
                            <% } %>
                        </div>
                        <div class="dashboard-name"><%= favoriteLists[key].name %></div>
                        <% if(favoriteLists[key].description != null) { %> <div class="dashboard-description"><%= favoriteLists[key].description %></div> <% } %>
                    </div>
                <% }) %>
            <% }  else  { %>
                - No lists -
            <% } %> 
        </div>
    </div>
    <script>
        function deleteList(id) {
            if(confirm("Are you sure you want to delete this list?") == true) {
                document.getElementById("delete-list-" + id).submit();
            }
        }
    </script>
</body>
</html>