<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title><%= list.name %> - GiftList</title>
</head>
<body>
    <%- include('partials/account') %>
    <%- include('partials/navbar') %>
    <div class="page-container">
        <div class="main-container">
            <header>
                <h1 class="page"><%= list.name %><% if(list.description != null) { %><br /><div class="header-description"><%= list.description %></div><% } %></h1>
                <form target="hiddenFrame" method="post">
                <% if(list.isSaved) { %>
                    <button type="submit" id="saveButton" onclick="changeSave()" class="small saved" style="margin-top: 12px;">
                        + List Saved
                    </button>
                <% } else { %>
                    <button type="submit" id="saveButton" onclick="changeSave()" class="small" style="margin-top: 12px;">
                        <div class="material-symbols-outlined">bookmark</div>Save List
                    </button>
                <% } %>
            </header>
            
            <% Object.keys(gifts).forEach(key => { %>
                <div class="list-item">
                    <div class="image-container">
                        <% if(gifts[key].picture != null) { %><img src="<%= gifts[key].picture %>"><% } else { %><img src="/no-picture.png"><% } %>
                        <div class="reserve-status" id="<%= gifts[key].id %>-<%= gifts[key].gifter %>-<%= gifts[key].gifterName %>"></div>
                    </div>
                    <div class="name"><%= gifts[key].title %></div>
                    <div class="price-link">
                        <div class="price">$<%= parseFloat(gifts[key].price).toFixed(2) %></div>
                        <% if(gifts[key].link != null) { %><a href="<%= gifts[key].link %>" target="_blank">Visit Link</a><% } %>
                    </div>
                    <div class="description">
                        <% if(gifts[key].size != null) { %><div style="padding-left: 16px;"><b>Size:</b> <%= gifts[key].size %></div><% } %>
                        <% if(gifts[key].color != null) { %><div style="padding-left: 16px;"><b>Color:</b> red</div><% } %>
                        <% if(gifts[key].details != null) { %><div class="details"><b>Details:</b> <%= gifts[key].details %></div><% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <iframe name="hiddenFrame" style="display: none;"></iframe>
    
    <script>
        let userId = parseInt(`<%- user.id %>`);
        let saveButton = document.getElementById("saveButton");
        let reserves = document.getElementsByClassName("reserve-status");
        
        for(var i = 0; i < reserves.length; i++) {
            let giftId = reserves[i].id.split('-')[0];
            let gifterId = reserves[i].id.split('-')[1];
            let gifterName = reserves[i].id.split('-')[2];
            changeReserve(giftId, gifterId, gifterName);
        }
        
        function changeSave() {
            if(saveButton.classList.contains("saved")) {
                saveButton.classList.remove("saved");
                saveButton.innerHTML = `<div class="material-symbols-outlined">bookmark</div>Save List`;
            }
            else {
                saveButton.classList.add("saved");
                saveButton.innerText = "+ List Saved";
            }
        }

        function changeReserve(giftId, gifterId, gifterName) {
            var element = document.getElementById(giftId + '-' + gifterId + '-' + gifterName);

            if(gifterId == '') {
                element.classList.remove('taken');
                element.innerHTML = `
                <div class="material-symbols-outlined" style="margin-top: 0;">label_important</div>    
                <form id="reserve-${giftId}" name="reserve-${giftId}" target="hiddenFrame" action="?_method=PUT&id=${giftId}&reserve=true" method="post"></form>
                    <div class="reserve-overlay-text" tabindex="0" onclick="submitReserve(true, ${giftId})">Reserve</div>`;
            }
            else {
                element.classList.add('taken');
                if(gifterId == userId) {
                    element.innerHTML = `
                        <div class="reserve-overlay-text" style="text-transform: uppercase;"><span class="material-symbols-outlined">grade</span>Reserved by me</div>
                        <form id="reserve-${giftId}" name="reserve-${giftId}" target="hiddenFrame" action="?_method=PUT&id=${giftId}&reserve=false" method="post"></form>
                        <div class="reserve-overlay-text remove" tabindex="0" onclick="submitReserve(false, ${giftId})"><small>Remove</small></div>`;
                }
                else element.innerHTML = `
                    
                    <div class="reserve-overlay-text" style="text-transform: uppercase;"><span class="material-symbols-outlined">grade</span>Reserved by ${gifterName}</div>`;
            }
        }

        function submitReserve(taken, giftId) {
            document.getElementById('reserve-' + giftId).submit();
            if(taken) {
                document.getElementById(giftId + '--').id = giftId + '-' + userId + '-';
                changeReserve(giftId, userId, '');
            }
            else {
                document.getElementById(giftId + '-' + userId + '-').id = giftId + '--';
                changeReserve(giftId, '', '')
            }
        }
    </script>
</body>
</html>